* {
    box-sizing: border-box;
}
#inspiration {
    display: flex;
    align-items: flex-end;
    position: relative;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 30px; 
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#compscreen > *{
    background-color: #05321e;
    color: white;
    width: 1000px;
    height: 700px;
    border: 60px solid gray;
    border-radius: 2%;
    padding: 15px;
    background-clip: content-box;
    box-shadow: inset 0 0 0 10px darkgray;
    display: flex;
    justify-content: center;
    text-align: center;
    box-shadow: 10px 20px 40px #01411C;
    font-family: 'VT323';
    margin-left: 80px;
    z-index: 3;
    position: relative;
}

h3 {
    text-align: right;
    margin: 0;
    font-size: 20px;
}

h1 {
    font-size: 100px;
    margin: 0;
    margin-bottom: 60px;
    font-weight: 900;
    line-height: 5vh;
}

.splash {
    z-index: 8;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: black;
    top: 0;
    left: 0;
    text-align: center;
}

.splash.displayNone {
    z-index: 8;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: black;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 0;
    z-index: -10
}

#title {
    font-family: 'bungee shade';
    font-size: 15vmin;
    line-height: 20vh;
    color: #FFD700;
}

#story {
    margin: auto;
    font-size: 30px;
}

@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 7s ease-in forwards; 
}

.pfade-in {
    opacity: 0;
    animation: fadeIn 13s ease-in forwards; 
}

.insfade-in {
    opacity: 0;
    animation: fadeIn 15s ease-in forwards;
}

#Choices > button {
    font-size: 25px;
    font-family: 'VT323';
    z-index: 9;
    height: 40px;
    background-color: white;
    border: 5px solid black;
    color: black;
    margin-top: 4px;
    
}
#answerGrid {
    height: 130px;
}

#answerGrid > div {
    border: 2px solid red;
    display: inline-flex;
    width: 190px;
    height: 55px; 
    font-size: 25px;
    margin: 5px 5px 5px 5px;
    text-align: center;
    margin-bottom: 40px;
    justify-content: center;
    transform: scale(0.7);
    position: relative;
}

#answerGrid > div:hover {
    background-color: darkgrey;
    color: white;
    z-index: 8;
}

#rtn {
margin-top: 30px;
border: 2px solid white; 
font-size: 15px;
    color: rgba(255, 255, 255, 0.8);
    background: gray;
    padding: 15px 40px;
    border-radius: 4px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.glow-button:hover {
color: rgba(255, 255, 255, 1);
box-shadow: 0 5px 15px white;
}

#plyAgn {
margin-top: 60px;
visibility: hidden;
z-index: 9;
justify-content: center;
align-items: center;
text-align: center;
position: relative;
display: flex
} 

h4 {
    font-size: 22px;
    color: white;
}

#green {
    color: green;
}

#yellow {
    color: yellow;
}

#black {
    color: gray;
}
p {
    color: white;
    visibility: visible;css
}

a {
overflow: hidden;
position: relative;
display: inline-block;
}

a {
overflow: hidden;
position: relative;
display: inline-block;
color: black;
font-size: 30px;
}

a::before,
a::after {
content: '';
position: absolute;
width: 100%;
left: 0;
}

a::before {
background-color: #54b3d6;
height: 2px;
bottom: 0;
transform-origin: 100% 50%;
transform: scaleX(0);
transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

a::after {
content: attr(data-replace);
height: 100%;
font-size: 31px;
top: 0;
transform-origin: 100% 50%;
transform: translate3d(200%, 0, 0);
transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
color: #54b3d6;
}

a:hover::before {
transform-origin: 0% 50%;
transform: scaleX(1);
}

a:hover::after {
transform: translate3d(0, 0, 0);
}

a span {
display: inline-block;
transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

a:hover span {
transform: translate3d(-200%, 0, 0);
}

#crt:before {
content: " ";
display: block;
position: absolute;
top: 0px;
left: 0px;
bottom: 0px;
right: 0px;
background: linear-gradient(
    to bottom,
    rgba(18, 16, 16, 0) 50%,
    rgba(0, 0, 0, 0.25) 50%
);
background-size: 100% 8px;
z-index: 2;
pointer-events: none;
}

@keyframes textShadow {
0% {
text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
}
5% {
text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
}
}

.scanline {
right: 10px;
width: 100%;
height: 100px;
z-index: 0;
background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 0.2) 10%,
    rgba(0, 0, 0, 0.1) 100%
);
opacity: 0.3;
position: absolute;
bottom: 100%;
animation: scanline 10s linear infinite;
}

@keyframes scanline {
0% {
    bottom: 100%;
}
80% {
    bottom: 100%;
}
100% {
    bottom: 0%;
}
}